/* Starbox.css 
   Part of http://www.nickstakenburg.com/projects/starbox/
*/

.starbox .stars { background: #ddd; }
.starbox .rated .stars { background: #dcdcdc; }
.starbox .rated .hover .stars { background: #cccccc; }
.starbox .colorbar { background: orange; }
.starbox .hover .colorbar { background: orange; }
.starbox .rated .colorbar { background: orange; }
.starbox .rated .hover .colorbar { background: orange; }
.starbox .ghost { background: #a1a1a1; }
.starbox .indicator { clear: both; }

.starbox .dotted .stars,
.starbox .dotted .hover .stars,
.starbox .dotted .rated .stars, 
.starbox .dotted .rated .hover .stars { background: url(../images/starbox/background_dotted.gif) top left repeat-x; }
.starbox .dotted .colorbar,
.starbox .dotted .hover .colorbar,
.starbox .dotted .rated .colorbar, 
.starbox .dotted .rated .hover .colorbar { background: #000000; }
.starbox .dotted .ghost { background: #666666; }

.starbox .pointy .colorbar { background: orange; }
.starbox .pointy .hover .colorbar { background: orange; }

.starbox .inverse .stars { float: right; }
.starbox .inverse .indicator { clear: both; display: block; text-align: right; }